Repository captechconsulting/alexa-skills-kit-sdk-for-dot-net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/ask-sdk-core.yml, pipelines/ask-sdk-dynamodb-persistence-adapter.yml, pipelines/ask-sdk.yml

pipelines/ask-sdk-core.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/Ask.Sdk.Core
pr:
  - master
resources:
  repositories:
  - repository: self
    type: git
    ref: master
jobs:
- job: Build
  displayName: 'Build Ask.Sdk.Core'
  cancelTimeoutInMinutes: 1
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
  - task: UseDotNet@2
    inputs:
      version: '3.1.x'
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Ask.Sdk.Core.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Ask.Sdk.Core.csproj'
      arguments: '--configuration Release --no-restore'
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: '**/Ask.Sdk.Core.Tests.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet pack
    inputs:
      command: pack
      searchPatternPack: '**/Ask.Sdk.Core.csproj'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

pipelines/ask-sdk-dynamodb-persistence-adapter.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/Ask.Sdk.DynamoDb.Persistence.Adapter
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/Ask.Sdk.DynamoDb.Persistence.Adapter
resources:
  repositories:
  - repository: self
    type: git
    ref: master
jobs:
- job: Build
  displayName: 'Build Ask.Sdk.DynamoDB.Persistance.Adapter'
  cancelTimeoutInMinutes: 1
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
  - task: UseDotNet@2
    inputs:
      version: '3.1.x'
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj'
      arguments: '--configuration Release --no-restore'
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    enabled: False
    inputs:
      command: test
      projects: '**/Ask.Sdk.DynamoDb.Persistence.Adapter.Tests.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet pack
    inputs:
      command: pack
      searchPatternPack: '**/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

pipelines/ask-sdk.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/Ask.Sdk/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/Ask.Sdk/*
resources:
  repositories:
  - repository: self
    type: git
    ref: master
jobs:
- job: Build
  displayName: 'Build Ask.Sdk'
  cancelTimeoutInMinutes: 1
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
  - task: UseDotNet@2
    inputs:
      version: '3.1.x'
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Ask.Sdk.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Ask.Sdk.csproj'
      arguments: '--configuration Release --no-restore'
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: '**/Ask.Sdk.Tests.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet pack
    inputs:
      command: pack
      searchPatternPack: '**/Ask.Sdk.csproj'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

Update ask-sdk.yml
  pipelines/ask-sdk.yml
Due: none

Update ask-sdk-asp-net-core.yml
  pipelines/ask-sdk-asp-net-core.yml
Due: none

Update ask-sdk-core.yml
  pipelines/ask-sdk-core.yml
Due: none

Update ask-sdk-dynamodb-persistence-adapter.yml
  pipelines/ask-sdk-dynamodb-persistence-adapter.yml
Due: none

Update README.md
  README.md
Due: none

Create ask-sdk-runtime.yml
  pipelines/ask-sdk-runtime.yml
Due: none

Create ask-sdk-cosmosdb-persistence-adapter.yml
  pipelines/ask-sdk-cosmosdb-persistence-adapter.yml
Due: none

Create ask-sdk-azure-webjobs.yml
  pipelines/ask-sdk-azure-webjobs.yml
Due: none

Changed remaining assemblies to .Net 3.1 or greater.
  samples/HelloWorldFunction/HelloWorldFunction.csproj
  src/Ask.Sdk.Azure.WebJobs/Ask.Sdk.Azure.WebJobs.csproj
  src/Ask.Sdk.CosmosDb.Persistence.Adapter/Ask.Sdk.CosmosDb.Persistence.Adapter.csproj
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Attributes/Persistence/DynamoDbPersistenceAdapter.cs
  src/Ask.Sdk.Runtime/Dispatcher/Error/Mapper/IErrorMapper.cs
  tests/Ask.Sdk.Azure.WebJobs.Tests/AlexaSkillStartupTests.cs
  tests/Ask.Sdk.Azure.WebJobs.Tests/Ask.Sdk.Azure.WebJobs.Tests.csproj
Due: pipelines/ask-sdk-dynamodb-persistence-adapter.yml

Update ask-sdk-runtime.yml
  pipelines/ask-sdk-runtime.yml
Due: none

Corrected issue where adapter was attempted to create before the table actually existed (for the create table scenario).
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Attributes/Persistence/DynamoDbPersistenceAdapter.cs
Due: pipelines/ask-sdk-dynamodb-persistence-adapter.yml

Converted to interface for dependency injection.
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Attributes/Persistence/DynamoDbPersistenceAdapter.cs
Due: pipelines/ask-sdk-dynamodb-persistence-adapter.yml

Bumped the version number.
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj
Due: pipelines/ask-sdk-dynamodb-persistence-adapter.yml

Switching out laptop
  src/Ask.Sdk.Core/Ask.Sdk.Core.csproj
  src/Ask.Sdk.CosmosDb.Persistence.Adapter/Ask.Sdk.CosmosDb.Persistence.Adapter.csproj
  src/Ask.Sdk.DynamoDb.Persistence.Adapter/Ask.Sdk.DynamoDb.Persistence.Adapter.csproj
  tests/Ask.Sdk.Core.Tests/Ask.Sdk.Core.Tests.csproj
  tests/Ask.Sdk.Runtime.Tests/Ask.Sdk.Runtime.Tests.csproj
Due: pipelines/ask-sdk-core.yml, pipelines/ask-sdk-dynamodb-persistence-adapter.yml
